#home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.hero-content {
  position: relative;
  z-index: 10;
  padding-left: 4vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-title {
  margin-top:125px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.3;
  color: white;
}

.hero-title .seamless {
  color:var(--text-secondary);
}

.hero-sub {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-secondary);
}

.hero-cta {
  margin-top: 5px;
  width:30%;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 14px;
  text-align: center;
  border-radius: 14px;
  color: white;
  background: linear-gradient(135deg, #a840f7, #ff4fd3, #008cff);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.hero-cta:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}


@media (max-width: 768px) {
  #home {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .hero-video {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    position: relative;
    inset: 0;
   
  }

  .hero-content {
    position: relative;
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-direction: column;
   
    text-align: center;  
  }

  .hero-title {
    font-size: 32px;
    line-height: 1.3;
  }

  .hero-sub {
    font-size: 18px;
  }

  .hero-cta {
    align-self: center;
  }
}
